\#*
*~
.#*
.DS_Store
.idea
.project
.sass-cache
coverage
Gemfile.lock
tmp
nbproject
pkg
*.swp
spec/dummy

# Read the contribution guide for the reason for ignoring this file.
config/spreedly_api_config.rb