<label for="product_subscription_plan">Subscription Plan</label>

<select class="select" id="product_subscription_plan_id" name="product[subscription_plan_id]" style="display: none;">
  <% subscription_plans.each do |plan| %>
    <option value="1" selected=""><%= plan.name %></option>
  <% end %>
</select>